<% if @categories_favorite.length == 0 %>
  <h4> Sem categorias favoritadas </h4>
<% end %>

<% @categories_favorite.each do |category| %>

  <h3> <%= category.name %> (<%= category.videos.length %>)</h3>

  <table class="table table-bordered table-hover" table-layout="fixed">
    <tbody>
      <% if category.videos.length == 0 %>
        Categoria sem vídeos salvos
      <% else %>
        <% category.videos.each do |video| %>

          <tr>
            <td width="75%"> <%= video.title %> </td>
            <td> <%= button_to "Visualizar", video, method: :get, class: "btn btn-primary" %> </td>
          </tr>

        <% end %>

      <% end %>
    </tbody>
  </table>
<% end %>
