<h1> <%= @video_show.title %> </h1>

<iframe width="560" height="315" src=<%= @video_show.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

<h4>Comentários</h4>
